.card {
    /* width: 250px; */
    min-height: 330px;
    border-radius: 14px;
    transition: all 0.3s;
    padding: 10px;
    border: 1px solid #000;
    box-shadow: 0px 15px 30px #0000009f;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 30px #000000;
}


.card__img {
    width: 100%;
    object-fit: contain;
    transition: 0.2s;
    cursor: pointer;
}

.card__img:hover {
    transform: translateY(-5px);
    border-radius: 20px;
}

.card__title {
    color: #000;
    margin-top: 10px;
    font-size: 18px;
}


.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-17 {
    -webkit-tap-highlight-color: transparent;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.btn-17:disabled {
    cursor: default;
}

.btn-17:-moz-focusring {
    outline: auto;
}

.btn-17 svg {
    display: block;
}

.btn-17 [hidden] {
    display: none;
}

.btn-17 {
    border-width: 1px;
    padding: 5px 30px;
    z-index: 0;
}

.btn-17,
.btn-17 .text-container {
    overflow: hidden;
    border: 1px solid black;
    position: relative;
}

.btn-17 .text-container {
    display: block;
    mix-blend-mode: difference;
}

.btn-17 .text {
    display: block;
    position: relative;
}

.btn-17:hover .text {
    -webkit-animation: move-up-alternate 0.3s forwards;
    animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(80%);
    }

    51% {
        transform: translateY(-80%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes move-up-alternate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(80%);
    }

    51% {
        transform: translateY(-80%);
    }

    to {
        transform: translateY(0);
    }
}

.btn-17:after,
.btn-17:before {
    --skew: 0.2;
    background: #fff;
    content: "";
    display: block;
    height: 102%;
    left: calc(-50% - 50% * var(--skew));
    pointer-events: none;
    position: absolute;
    top: -104%;
    transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
    transition: transform 0.2s ease;
    width: 100%;
}

.btn-17:after {
    --progress: 0%;
    left: calc(50% + 50% * var(--skew));
    top: 102%;
    
    z-index: -1;
}

.btn-17:hover:before {
    --progress: 100%;
}

.btn-17:hover:after { 
    --progress: -102%;
}


.card__theme {
    display: flex;
    justify-content: space-between;
}



@-webkit-keyframes bookmark {
    50% {
        -webkit-transform: scaleY(0.6);
        transform: scaleY(0.6);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes bookmark {
    50% {
        -webkit-transform: scaleY(0.6);
        transform: scaleY(0.6);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-webkit-keyframes circle {
    from {
        width: 0;
        height: 0;
        opacity: 0;
    }

    90% {
        width: var(--icon-circle-size);
        height: var(--icon-circle-size);
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes circle {
    from {
        width: 0;
        height: 0;
        opacity: 0;
    }

    90% {
        width: var(--icon-circle-size);
        height: var(--icon-circle-size);
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes circles {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        opacity: 1;
    }

    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
}

@keyframes circles {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        opacity: 1;
    }

    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
}


.card__about {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__theme-btn {
    width: 40px ;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 10px;
}

.card__theme-btn path {
    transition: 0.4s;
}

.card__theme-btn:hover {
    width: 40px ;
    height: 40px;
    background: rgba(0, 0, 0, 0.295);
}

.card__theme-btn.active path {
    --icon-primary-color: rgb(252, 54, 54);
    background: rgb(252, 54, 54);
    fill: var(--icon-primary-color);
}